[default]
region = ap-northeast-1
output = yaml
{{- if eq .chezmoi.hostname "7cf34ded5d65" }}
credential_process = isengardcli credentials --role Admin --awscli 070392599442
{{- end }}

[profile bedrock]
region = us-west-2
output = yaml

[profile hugo]
region = ap-northeast-1
output = yaml

