[hugo]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/Hugo - AWS IAM/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/Hugo - AWS IAM/credential" }}

[opencode]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/OpenCode - AWS IAM/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/OpenCode - AWS IAM/credential" }}
