[agentcore-websearch]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/hxzj6fn5iyzq2xw2h3vigyvrsy/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/hxzj6fn5iyzq2xw2h3vigyvrsy/credential" }}

[bedrock]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/5dlrgafvsw7bt3n3ygaiy3yozq/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/5dlrgafvsw7bt3n3ygaiy3yozq/credential" }}

[hugo]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/4gla3v3dnjm6ybw4gv6qjgi6ya/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/4gla3v3dnjm6ybw4gv6qjgi6ya/credential" }}
{{- if eq .chezmoi.hostname "fox" }}

[sslcert]
aws_access_key_id = {{ onepasswordRead "op://chezmoi/xbnrbydqh5qz7jge7efxqttt2u/username" }}
aws_secret_access_key = {{ onepasswordRead "op://chezmoi/xbnrbydqh5qz7jge7efxqttt2u/credential" }}
{{- end }}
