{{ template "rules/common-standards.md" . }}

{{ template "rules/chat-tone.md" . }}
{{ if eq .chezmoi.os "darwin" }}
{{ template "rules/cmux-subagent.md" . }}
{{ end }}
{{ template "rules/css-standards.md" . }}

{{ template "rules/development-workflow.md" . }}

{{ template "rules/aws-agent-rules.md" . }}
{{ if eq .chezmoi.hostname "7cf34ded5d65" }}
{{ template "rules/git-push-via-fox.md" . }}
{{ end }}