{
  "mcpServers": {
    "analytics-mcp": {
      "command": "pipx",
      "args": [
        "run",
        "analytics-mcp"
      ],
      "env": {
        "GOOGLE_APPLICATION_CREDENTIALS": "{{ .chezmoi.homeDir }}/.config/gcloud/application_default_credentials.json",
        "GOOGLE_PROJECT_ID": "analytics-mcp-492303"
      }
    },
    "brave-search": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-brave-search"
      ],
      "env": {
        "BRAVE_API_KEY": "{{ onepasswordRead "op://chezmoi/Brave/credential" }}"
      }
    },
    "chrome-devtools": {
      "command": "npx",
      "args": [
        "chrome-devtools-mcp@latest"
      ]
    },
    "drawio": {
      "command": "npx",
      "args": [
        "@drawio/mcp"
      ]
    },
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch",
        "--ignore-robots-txt"
      ]
    },
    "home-assistant": {
      "command": "uvx",
      "args": [
        "ha-mcp@latest"
      ],
      "env": {
        "FASTMCP_LOG_LEVEL": "ERROR",
        "HOMEASSISTANT_URL": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/url" }}",
        "HOMEASSISTANT_TOKEN": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/credential" }}"
      }
    },
    "ticktick": {
      "type": "http",
      "url": "https://mcp.ticktick.com",
      "oauthScopes": []
{{- if eq .chezmoi.hostname "7cf34ded5d65" }}
    },
    "amazon-sharepoint-mcp": {
      "command": "{{ .chezmoi.homeDir }}/.aim/mcp-servers/amazon-sharepoint-mcp"
    },
    "aws-outlook-mcp": {
      "command": "aws-outlook-mcp"
    },
    "aws-sentral-mcp": {
      "command": "aws-sentral-mcp"
    },
    "aws-mcp": {
      "command": "uvx",
      "args": [ 
        "mcp-proxy-for-aws@latest",
        "https://aws-mcp.us-east-1.api.aws/mcp",
        "--metadata",
        "AWS_REGION=ap-northeast-1"
      ]
    },
    "builder-mcp": {
      "command": "builder-mcp"
    },
    "pippin-mcp" : {
      "command" : "pippin-mcp-server"
    },
    "slack-mcp": {
      "command": "slack-mcp"
{{- end }}
    }
  }
}
