{
  "mcpServers": {
    "home-assistant": {
      "command": "uvx",
      "args": [
        "ha-mcp@latest"
      ],
      "env": {
        "FASTMCP_LOG_LEVEL": "ERROR",
        "HOMEASSISTANT_URL": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/url" }}",
        "HOMEASSISTANT_TOKEN": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/credential" }}"
      }
    },
    "ticktick": {
      "type": "http",
      "url": "https://mcp.ticktick.com",
      "oauthScopes": []
    }
  }
}
