{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "CLAUDE_CODE_USE_BEDROCK": "1",
    "CLAUDE_CODE_ENABLE_AUTO_MODE": "1",
{{- if ne .chezmoi.hostname "7cf34ded5d65" }}
    "AWS_PROFILE": "bedrock",
{{- end }}
    "AWS_REGION": "us-west-2"
  },
{{ if eq .chezmoi.hostname "7cf34ded5d65" }}
  "awsCredentialExport": "\"{{ .chezmoi.homeDir }}/.toolbox/bin/claude\" default-credential-export",
  "enabledPlugins": {
    "AmazonBuilderCoreAIAgents-core@aim": true,
    "AmazonBuilderCoreAIAgents-pipeline-assistant@aim": true
  },
  "extraKnownMarketplaces": {
    "aim": {
      "source": {
        "source": "directory",
        "path": "{{ .chezmoi.homeDir }}/.aim/cc-plugins"
      }
    }
  },
  "mcpServers": {
    "builder-mcp": {
      "command": "builder-mcp",
      "args": [
        "--include-tools=ReadInternalWebsites"
      ]
    }
  },
{{ else }}
  "mcpServers": {},
{{- end }}
  "availableModels": [
    "opus",
    "sonnet"
  ],
  "includeCoAuthoredBy": false,
  "model": "us.anthropic.claude-opus-4-6-v1",
  "permissions": {
    "defaultMode": "auto",
    "additionalDirectories": [
      "/tmp",
      "{{ .chezmoi.homeDir }}/Desktop",
      "{{ .chezmoi.homeDir }}/Downloads"
    ]
  },
  "showThinkingSummaries": true,
  "skipDangerousModePermissionPrompt": true,
  "statusLine": {
    "command": "~/.claude/statusline.sh",
    "type": "command"
  },
  "theme": "auto"
}
