{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "CLAUDE_CODE_USE_BEDROCK": "1",
{{ if eq .chezmoi.hostname "7cf34ded5d65" }}
    "AWS_PROFILE": "claude-code-DO-NOT-DELETE",
{{ else }}
    "AWS_PROFILE": "bedrock",
{{- end }}
    "AWS_REGION": "us-west-2"
  },
{{ if eq .chezmoi.hostname "7cf34ded5d65" }}
  "mcpServers": {
    "builder-mcp": {
      "command": "builder-mcp",
      "args": [
        "--include-tools=ReadInternalWebsites"
      ]
    }
  },
{{ else }}
  "mcpServers": {},
{{- end }}
  "model": "us.anthropic.claude-sonnet-4-6[1m]",
  "skipDangerousModePermissionPrompt": true
}
