# chezmoi configuration file example
# Copy this file to ~/.config/chezmoi/chezmoi.toml and edit the values

[data]
    # Set your email address
    email = "email@example.com"

# 1Password integration
[onepassword]
    command = "op"
