---
name: code-reviewer
description: {{ includeTemplate "agents/description/code-reviewer.txt" . | trim }}
tools: ["Read", "Grep", "Glob", "Bash"]
model: sonnet
---

{{ template "agents/body/code-reviewer.md" . -}}
