{{- $bin := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $bin = "/opt/homebrew/bin/" }}
{{- end }}    "Context7": {
      "command": "{{ $bin }}npx",
      "args": [
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{{ onepasswordRead "op://chezmoi/Context7/credential" }}"
      ],
      "disabled": false,
      "autoApprove": [
        "get-library-docs",
        "resolve-library-id"
      ]
    }
