    "brave-search": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-brave-search"
      ],
      "env": {
        "BRAVE_API_KEY": "{{ onepasswordRead "op://chezmoi/Brave/credential" }}"
      },
      "disabled": false,
      "autoApprove": [
        "brave_web_search"
      ]
    },
    "Context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{{ onepasswordRead "op://chezmoi/Context7/credential" }}"
      ],
      "disabled": false,
      "autoApprove": [
        "get-library-docs",
        "resolve-library-id"
      ]
    },
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch",
        "--ignore-robots-txt"
      ],
      "disabled": false,
      "autoApprove": [
        "fetch"
      ]
    },
    "git": {
      "command": "uvx",
      "args": [
        "mcp-server-git"
      ],
      "disabled": false,
      "autoApprove": [
        "git_branch",
        "git_diff",
        "git_diff_staged",
        "git_diff_unstaged",
        "git_log",
        "git_show",
        "git_status"
      ],
      "disabledTools": [
        "git_add",
        "git_commit"
      ]
    },
    "mcp-obsidian": {
      "command": "uvx",
      "args": [
        "mcp-obsidian"
      ],
      "env": {
        "OBSIDIAN_API_KEY": "{{ onepasswordRead "op://chezmoi/Obsidian/credential" }}",
        "OBSIDIAN_HOST": "{{ onepasswordRead "op://chezmoi/Obsidian/hostname" }}",
        "OBSIDIAN_PORT": "{{ onepasswordRead "op://chezmoi/Obsidian/port" }}"
      },
      "disabled": false,
      "autoApprove": [
        "obsidian_batch_get_file_contents",
        "obsidian_complex_search",
        "obsidian_get_file_contents",
        "obsidian_get_periodic_note",
        "obsidian_get_recent_changes",
        "obsidian_get_recent_periodic_notes",
        "obsidian_list_files_in_dir",
        "obsidian_list_files_in_vault",
        "obsidian_simple_search"
      ]
    }
