{
  "mcpServers": {
    "brave-search": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-brave-search"
      ],
      "env": {
        "BRAVE_API_KEY": "{{ onepasswordRead "op://Private/Brave/credential" }}"
      },
      "disabled": false,
      "autoApprove": [
        "brave_web_search"
      ]
    },
    "Context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp",
        "--api-key",
        "{{ onepasswordRead "op://Private/Context7/credential" }}"
      ],
      "disabled": false,
      "autoApprove": [
        "get-library-docs",
        "resolve-library-id"
      ]
    },
    "fetch": {
      "command": "uvx",
      "args": [
        "mcp-server-fetch",
        "--ignore-robots-txt"
      ],
      "disabled": false,
      "autoApprove": [
        "fetch"
      ]
    },
    "git": {
      "command": "uvx",
      "args": [
        "mcp-server-git"
      ],
      "disabled": false,
      "autoApprove": [
        "git_branch",
        "git_diff",
        "git_diff_staged",
        "git_diff_unstaged",
        "git_log",
        "git_show",
        "git_status"
      ],
      "disabledTools": [
        "git_commit"
      ]
    },
    "time": {
      "command": "uvx",
      "args": [
        "mcp-server-time"
      ],
      "disabled": false,
      "autoApprove": [
        "convert_time",
        "get_current_time"
      ]
    }
  }
}
