{
  "name": "default",
  "description": "",
  "prompt": null,
{{- if eq .chezmoi.hostname "7cf34ded5d65" }}
  "mcpServers": {
    "builder-mcp": {
      "command": "builder-mcp",
      "args": [
        "--include-tools=ReadInternalWebsites"
      ]
    }
  },
{{- else }}
  "mcpServers": {},
{{- end }}
  "tools": ["*"],
  "toolAliases": {},
  "allowedTools": [
    "@builtin/delegate",
    "@builtin/glob",
    "@builtin/grep",
    "@builtin/knowledge",
    "@builtin/read",
    "@builtin/subagent",
    "@builtin/web_fetch",
    "@builtin/web_search",
    "@builtin/write"
{{- if eq .chezmoi.hostname "7cf34ded5d65" }},
    "@builder-mcp"
{{- end }}
  ],
  "resources": [
    "file://AGENTS.md",
    "file://README.md",
    "file://.kiro/steering/**/*.md",
    "file://~/.kiro/steering/**/*.md",
{{- if eq .chezmoi.hostname "7cf34ded5d65" }}
    "file://~/.kiro/steering.internal/**/*.md",
{{- end }}
    "skill://.kiro/skills/**/SKILL.md",
    "skill://~/.kiro/skills/**/SKILL.md"
  ],
  "hooks": {},
  "toolsSettings": {
    "shell": {
      "allowedCommands": [
        "agent-browser",
        "mcporter",
        "playwright-cli"
      ],
      "autoAllowReadonly": true
    },
    "subagent": {
      "availableAgents": ["*"],
      "trustedAgents": ["*"]
    },
    "write": {
      "allowedPaths": [
        "./**",
        "{{ .chezmoi.homeDir }}/Downloads/**",
        "/tmp/**"
      ]
    }
  },
  "useLegacyMcpJson": true,
  "model": "claude-sonnet-4.6-1m"
}
