{
  "mcpServers": {
{{ template "mcp-servers.json.tmpl" . }}  },
  "powers": {
    "mcpServers": {
      "power-homeassistant-Home Assistant": {
        "command": "uvx",
        "args": [
          "ha-mcp@latest"
        ],
        "env": {
          "FASTMCP_LOG_LEVEL": "ERROR",
          "HOMEASSISTANT_URL": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/url" }}",
          "HOMEASSISTANT_TOKEN": "{{ onepasswordRead "op://chezmoi/Home Assistant - MCP Server/credential" }}"
        }
      },
      "power-homeassistant-fetch": {
        "command": "uvx",
        "args": [
          "mcp-server-fetch",
          "--ignore-robots-txt"
        ]
      }
    }
  }
}
