{{- $bin := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $bin = "/opt/homebrew/bin/" -}}
{{- end -}}
{
  "mcpServers": {
{{ template "mcp-servers.json.tmpl" . }},
    "brave-search": {
      "command": "{{ $bin }}/npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-brave-search"
      ],
      "env": {
        "BRAVE_API_KEY": "{{ onepasswordRead "op://chezmoi/Brave/credential" }}"
      },
      "disabled": false,
      "autoApprove": [
        "brave_web_search"
      ]
    },
    "fetch": {
      "command": "{{ $bin }}uvx",
      "args": [
        "mcp-server-fetch",
        "--ignore-robots-txt"
      ],
      "disabled": false,
      "autoApprove": [
        "fetch"
      ]
    },
    "serena": {
      "command": "{{ $bin }}uvx",
      "args": [
        "--from",
        "git+https://github.com/oraios/serena",
        "serena",
        "start-mcp-server"
      ]
    }
  }
}
